* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  color: rgb(48, 48, 48);
}

.box{
  max-width: 400px;
  height: 300px;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 20px;
  background: #f78923;
  border-radius: 10px;
}
