<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Sacado</title>
</head>
<body>
  
  <div>
    <h3><a href="/cad_duplicata" style="color: inherit; text-decoration: none;"><- Voltar</a></h3>
    <h2>Cadastrar Sacado</h2>

    <form action="/sacado" method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>CNPJ:</label><br>
        <input type="text" name="cnpj" required><br><br>

      <button type="submit">Cadastrar</button>
  </form>
  </div>

</body>
</html>